#frame {
    text-transform: uppercase;
    display: grid;
    justify-content: space-between;
    font-family: 'Acumin Pro', serif;
    grid-template-columns: repeat(3, 1fr);
    // background-color: red;
    z-index: 3;
    // color: black;
    // transform: translateY(100px);
    position: relative;
    transform: all 0.5s ease;
}

.frame_styles {
    top: -110%;
    transform: translateY(46px);
    color: #a17445;
    transition: all 1s ease;
    transition-delay: 1s;
}